# ========= DeepSeek API =========
DEEPSEEK_API_KEY=sk
DEEPSEEK_API_BASE_URL=https://api.deepseek.com/v1

# ========= LANGSMITH =========
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2
LANGSMITH_PROJECT="langma_dashboard"
